{% load static %} {# loading static files like -> images, css & scripts #}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <title>Home Automation | {% block page_title %} {# block for page title #} {% endblock page_title %}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-col" style="min-height:85px;height:auto;">
            {% block title %} {# block for main header #} {% endblock title %}
        </div>
        {% if arrow %} {# back arrwo is added when you are inside of sub menu #}
        <div>
            <a href="/home"><img id="arrow" src="{% static '/images/arrow.png' %}" alt="error"></a>
        </div>
        {% endif %}
        {% block content %} {# block for main content #} {% endblock content %}
    </div>
    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static '/js/jquery-3.5.1.js' %}"></script>
    {% block script %} {# block for extra scripts #} {% endblock script %} 
</body>
</html>