{% extends 'index.html' %} {# joining this page with mian page #}

{% block page_title %}Login{% endblock page_title %} {# page title shown in navbar #}

{% block title %} {# page title shown in header #}
<div class="row">
    <div class="h1 p-2 text-uppercase">Sign into your account</div>
</div>
{% endblock title %}

{% block content %} {# main content #}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-2"></div>
    <div class="col-lg-4 col-md-4 col-sm-8">
        <form class="bg-col" action="" method="post" autocomplete="off" style="min-height: 250px; height: auto;">
            {% csrf_token %} {# CSRF token is for sending data from a form #}
            {% for message in messages %} {# if there is a error shown here #}
                <h5 class="card alert-danger text-center mx-5 text-wrap">{{message}}</h5>
            {% endfor %}
            <div class="form-row input-field">
                <input type="text" name="username" />
                <span data-placeholder="Username"></span>
            </div>
            <div class="form-row input-field">
                <input type="password" name="password" />
                <span data-placeholder="Password"></span>
            </div>
            <div class="form-row btn-custom">
                <input type="submit" value="login" class="btn1" style="margin-bottom: 20px"/>
            </div>
        </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-2"></div>
</div>
{% endblock content %}

{% block script %} {# script for login placeholder animation #}
<script>
    $(".input-field input").on("focus",function(){
        $(this).addClass("focus");
    });
    $(".input-field input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
    });
</script>
{% endblock script %} 