{% extends 'index.html' %}

{% block page_title %}{{menu_title}}{% endblock page_title %}

{% block title %}
	<div class="col-12">
		<div class="h1 m-0 text-uppercase">{{menu_title}}</div>
	</div>
{% endblock title %}

{% block content %}
    <div class="container bg-col">
        <div class="row p-2">
            <div class="col-12 card bg-col">
                {% if menu_title == "Camera" %}
                    <h1>Camera working</h1>
                {% else %}
                    <h1>Temperature working</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}