{% extends 'index.html' %} {# joining this page with mian page #}
{% load static %} {# loading static files like -> images, css & scripts #}

{% block page_title %}{{menu_title | title}}{% endblock page_title %} {# page title shown in navbar #}

{% block title %} {# page title shown in header #}
<div class="col-12">
    <div class="h1 m-0 text-uppercase">{{menu_title}}</div>
</div>
{% endblock title %}

{% block content %} {# main content #}
{% static 'images' as img_url %} {# Static paths for images #}
<div class="container mt-5">
    <div id="parent" class="row">
        {% for room, status, id in data %} {# main loop dynamic content showing #}
            <div class="bg-col col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="card bg-col div-sty">
                    <img
                        class="d-none d-sm-block h-50 menu_img"
                        id="{{id}}"
                        src="{{img_url}}/{{menu_title}}_{{status}}.png" alt="error"
                        onclick="$(this).attr('src', $(this).attr('src').match('{{img_url}}/{{menu_title}}_.png') ? '{{img_url}}/{{menu_title}}_checked.png' : '{{img_url}}/{{menu_title}}_.png');" 
                    /> {# this jQuery changes the image in this block #}
                    <label class="switch d-block d-sm-none">
                        <input type="checkbox" value="{{room}}" id="c{{id}}" {{status}}/>
                        <span class="slider round"></span>
                    </label>
                    <span class="d-block" id="room_name">{{room}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $('#parent').on('click', (e)=>{
        if(e.target.tagName==="INPUT" || e.target.tagName ==='IMG') {
            var ele_id = e.target.id;
            if(e.target.tagName==="INPUT"){
                var status = $(`#${ele_id}`).is(':checked');
            } else {
                var status = $(`#${ele_id}`).attr('src').match('{{img_url}}/{{menu_title}}_.png') ? false : true;
            }
            $.ajax({
                url: '{{menu_title}}/data',
                type: "GET",
                data: {
                    "id": ele_id,
                    "status" : status
                },
                dataType: 'json'
            });
        }
    });
</script>
{% endblock script %}